.container{
    width: 1120px;
    margin: 0 auto;
}
.whiteBg{
    background: #fff!important;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    & a{
        color: #000!important;
    }
}
.transparent{
    background: transparent;
    & a{
        color:#fff
    }
}
.pl-15{
    padding-left: 15px;
}
.mt-60{
    margin-top: 60px;
}